.imgLink {
  max-height: 18px;
  padding-right: 8px;
}

.linkRow {
  position: absolute;
  bottom: 24px;
  font-family: main-font;
  font-size: 12px;
  display: flex;
  padding-left: 40px;
}

.section {
  padding-right: 100px;
}
.fontLink {
  position: absolute;
  bottom: 3px;
  font-size: 12px;
}

.linkPosition {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
