.imgLink {
  max-height: 18px;
  padding-right: 8px;
}

.linkRow {
  position: fixed;
  bottom: 24px;
  font-family: main-font;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section {
  padding-right: 90px;
}
.fontLink {
  position: absolute;
  bottom: 3px;
  font-size: 12px;
}
