.repoTitle {
  color: #66fcf1;
  padding-left: 12px;
  float: left;
  font-size: 18px;
  font-family: main-font;
}

.gitHubIcon {
  height: 46px;
  margin-top: 12px;
}

.description {
  color: aliceblue;
  margin-top: 30px;
  font-family: reading-font;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 24px;
  margin-left: 14px;
  position: relative;
}

.cardBox {
  width: 400px;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5%;
  border-radius: 18px;
  padding: 12px;
  position: relative;
}

.gitImage {
  width: 160px;
  height: 80px;
  margin-left: 90px;
  border: solid 1px #66fcf1;
}

.linkimg {
  position: absolute;
  bottom: 12px;
}
