.artMargin {
  margin-top: 150px;
}
.artTitle {
  text-align: center;
  margin: 0;
  padding: 30px;
}

.videoPlayer {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 60%;
  max-width: 640px;
  margin-top: 0px;
}

.artBox {
  font-family: reading-font;
  color: aliceblue;
  padding: 30px;
  margin: 0 auto;
  border-radius: 6px;
  top: 150px;
  font-size: 1rem;
  z-index: 2;
  width: 66%;
  margin-bottom: 60px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
.Rvideo {
  max-width: 200px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 520px) {
  .aboutImg {
    max-height: 300px;
  }
}

@media (max-width: 600px) {
  .videoPlayer {
    max-width: 330px;
  }
}
