.artBox {
  color: #f0f8ff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-family: reading-font;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 30px;
  padding: 30px;
  top: 150px;
  width: 68%;
  z-index: 2;
}

.artMargin {
  margin-top: 150px;
  padding-bottom: 150px;
}

.loader {
  color: #f0f8ff;
  display: flex;
  font-size: 1rem;
  font-family: main-font;
  margin: 0 auto;
  justify-content: center;
  padding: 12px;
}

.modelView {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.modelView canvas {
  display: flex;
}

.react-player {
  left: 0;
  position: absolute;
  top: 0;
}

.Rvideo {
  max-width: 200px;
}

.videoPlayer {
  display: block;
  margin: 0 auto;
  max-width: 640px;
  padding-top: 0px;
  position: relative;
  width: 60%;
  margin-bottom: 120px;
}

@media (max-width: 640px) {
  .aboutImg {
    max-height: 300px;
  }

  .modelView {
    display: none;
  }
  .videoPlayer {
    max-width: 330px;
  }

  .modelDescription {
    display: none;
  }
}
