@font-face {
  font-family: main-font;
  src: url(../../fonts/AstroSpace.ttf);
}

@font-face {
  font-family: reading-font;
  src: url(../../fonts/DroidSans.ttf);
}

.navBar {
  width: 100%;
  position: fixed;
  background-color: none;
  height: 124px;
  top: 0px;
  outline: solid;
  outline-color: #66fcf1;
  outline-width: 1.5px;
}

.navigation {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  background-color: #1f2833;
  z-index: 30;
  position: relative;
}

.logo {
  height: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navItems {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navSpacer {
  padding-right: 30px;
  width: 100%;
  justify-content: space-evenly;
}

li {
  margin-right: 12px;
  font-size: 1rem;
  font-family: main-font;
  text-decoration: none;
  color: aliceblue;
  white-space: nowrap;
  overflow: hidden;
}

.titleSK {
  top: 30px;
  align-self: center;

  font-family: main-font;
  color: aliceblue;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: #66fcf1;
}

@media (max-width: 1146px) {
  .navItems {
    display: none;
  }
}

@media (min-width: 1146px) {
  .toolBarButton {
    display: none;
  }
}
