@font-face {
  font-family: main-font;
  src: url(../../fonts/AstroSpace.ttf);
}

.navBar {
  width: 100%;
  position: fixed;
  background-color: aqua;
  height: 124px;
  top: 0px;
}

.navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  height: 6rem;
  margin-left: 0.5rem;
}

.navItems {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  padding-left: 30px;
  font-size: 1rem;
  font-family: main-font;
  text-decoration: none;
  color: aliceblue;
  white-space: nowrap;
  overflow: hidden;
}

a {
  color: aliceblue;
  text-decoration: none;
}

@media (max-width: 786px) {
  .navItems {
    display: none;
  }
}

@media (min-width: 786px) {
  .toolBarButton {
    display: none;
  }
}
