.welcomeTextBox {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: reading-font;
  color: aliceblue;
  padding: 30px;
  margin: 0 auto;
  border-radius: 6px;
  top: 150px;
  font-size: 1rem;
  z-index: 2;
  width: 50%;
}

.midtextlink {
  color: aqua;
}

.midtextlink:hover {
  color: rgb(10, 73, 73);
}

.topMargin {
  padding-top: 150px;
}

.openTitle {
  text-align: center;
}
