.midTextLink {
  color: #00ffff;
}

.midTextLink:hover {
  color: #f0f8ff;
}

.topMargin {
  padding-top: 150px;
}

.welcomeTextBox {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  color: #f0f8ff;
  font-family: reading-font;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1800px;
  padding: 30px;
  top: 150px;
  width: 68%;
  z-index: 2;
}
