.album {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.gallery {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 82px;
  margin-top: 12px;
  max-width: 1800px;
  padding: 30px;
  width: 68%;
}

.galleryTitles {
  outline: none;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.loader {
  color: #f0f8ff;
  display: flex;
  font-size: 1rem;
  font-family: main-font;
  justify-content: center;
  margin: 0 auto;
  padding: 12px;
}

.midAlbum {
  margin-top: 60px;
  position: relative;
}

.photographyMargin {
  margin-top: 150px;
}

.photographyTextBox {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  color: aliceblue;
  font-family: reading-font;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1800px;
  padding: 30px;
  top: 150px;
  width: 68%;
  z-index: 2;
}

.photographyMargin button {
  background-color: transparent;
  border: none;
  color: #66fcf1;
  font-size: 18px;
  font-family: main-font;
  margin-top: 30px;
  outline: none;
}

.photographyMargin button:hover {
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.photographyTitle {
  margin: 0;
  padding: 30px;
  text-align: center;
}

.photographyLink {
  color: #00ffff;
}
.photographyLink:hover {
  color: aliceblue;
}

@media (max-width: 520px) {
  .galleryTitles button {
    display: flex;
    margin: 0 auto;
  }
}
