.photographyMargin {
  margin-top: 150px;
}

.photographyMargin button {
  background-color: transparent;
  border: none;
  color: #66fcf1;
  font-size: 18px;
  font-family: main-font;
  margin-top: 30px;
  outline: none;
}

.photographyMargin button:hover {
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.photographyTitle {
  text-align: center;
  margin: 0;
  padding: 30px;
}

.photographySubTitle {
  font-family: main-font;
  color: aqua;
  text-align: center;
}

.midAlbum {
  position: relative;
  margin-top: 60px;
}

.album {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.gallery {
  min-height: 520px;
  width: 80%;
  max-width: 1800px;
  margin: 60px auto;
  margin-bottom: 82px;
  margin-top: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 15px;
}

.loader {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  color: #f0f8ff;
  font-size: 1rem;
  font-family: main-font;
  padding: 12px;
}
