.players {
  width: 300px;
  max-height: 442px;
  margin: 0;
}

.coverImg {
  max-height: 300px;
}

audio::-webkit-media-controls-panel {
  background-color: aliceblue;
  border-radius: 0px;
  outline: 0;
}

.react-audio-player {
  background-color: aliceblue;
  outline: 0;
}

audio::-internal-media-controls-download-button {
  display: none;
}
